:root {
    --gradient: linear-gradient(-45deg,#bbdefb 
    , #bbdefb     );
}

.gradient-animation {
    background-size: 400% 400%;
    background-image: var(--gradient);
    animation: bg-animation 90s ease infinite;
    height: 100vh;
}

@keyframes bg-animation {
    0% {
        background-position: 0 50%;
    }
    100% {
        background-position: 100% 50%;
    }
}

