/* 

███████  ██████  ███    ██ ████████ ███████ 
██      ██    ██ ████   ██    ██    ██      
█████   ██    ██ ██ ██  ██    ██    ███████ 
██      ██    ██ ██  ██ ██    ██         ██ 
██       ██████  ██   ████    ██    ███████ 

*/

/* TODO: Delete the Google Fonts below and add the Google Fonts you want to use on your site. Each Google font that you load will slightly increase the download speed of your site so make sure to only included necessary fonts here. */

@import url("https://fonts.googleapis.com/css2?family=Bungee+Hairline&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Work+Sans:ital,wght@0,100..900;1,100..900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Alfa+Slab+One&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Raleway:ital,wght@0,100..900;1,100..900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Bahiana&display=swap");
/*

Imported stylesheets. Remove the ones you do not want to use.

██ ███    ███ ██████   ██████  ██████  ████████      ██████ ███████ ███████ 
██ ████  ████ ██   ██ ██    ██ ██   ██    ██        ██      ██      ██      
██ ██ ████ ██ ██████  ██    ██ ██████     ██        ██      ███████ ███████ 
██ ██  ██  ██ ██      ██    ██ ██   ██    ██        ██           ██      ██ 
██ ██      ██ ██       ██████  ██   ██    ██         ██████ ███████ ███████ 

*/

/* TODO: Delete any stylesheets that you do not want to use. */

@import url("make-something-fly.css");
@import url("animated-gradient.css");
@import url("text-stroke.css");
@import url("stroke-shadow.css");
@import url("experiments.css");
@import url("style-guide.css");
@import url("scroll-to-top.css");

/*

X-Small devices (portrait phones, less than 576px) 
No media query for `xs` since this is the default in Bootstrap 

███    ███  ██████  ██████  ██ ██      ███████     ███████ ██ ██████  ███████ ████████ 
████  ████ ██    ██ ██   ██ ██ ██      ██          ██      ██ ██   ██ ██         ██    
██ ████ ██ ██    ██ ██████  ██ ██      █████       █████   ██ ██████  ███████    ██    
██  ██  ██ ██    ██ ██   ██ ██ ██      ██          ██      ██ ██   ██      ██    ██    
██      ██  ██████  ██████  ██ ███████ ███████     ██      ██ ██   ██ ███████    ██    
                                                                                       
*/

/* Add Border Box and Smooth Scroll */

html {
  box-sizing: border-box;
  scroll-behavior: smooth;
}

*,
*:before,
*:after {
  box-sizing: inherit;
}

/* Use variable for to easily change your theme's colour scheme and typography.

██    ██  █████  ██████  ██  █████  ██████  ██      ███████ ███████ 
██    ██ ██   ██ ██   ██ ██ ██   ██ ██   ██ ██      ██      ██      
██    ██ ███████ ██████  ██ ███████ ██████  ██      █████   ███████ 
 ██  ██  ██   ██ ██   ██ ██ ██   ██ ██   ██ ██      ██           ██ 
  ████   ██   ██ ██   ██ ██ ██   ██ ██████  ███████ ███████ ███████ 
                                                                    
*/

/* Design variables refer to CSS variables that store specific design elements, such as colors and typography, which can be utilized throughout a website. Instead of individually modifying each CSS element, designers can quickly make changes by using design variables.

/* TODO: Adjust the variables below, create new variables as desired, and delete the variables that you do not want to use. */

:root {
  --body-typeface: "Work Sans", sans-serif;
  --heading-typeface: "Work Sans", sans-serif;
  --project-title-typeface: "Work Sans", sans-serif;
  --subtitle-typeface: "Work Sans", sans-serif;
  --background-color: #2c51d7;
  --background-color-about: white;
  --background-color-footer: #2c51d7;
  --alt-background-color: #000000;
  --background-color-holding-page: #f0f0c9;
  --h1-color: white;
  --h2-color: #2c51d7;
  --h3-color: white;
  --h4-color: white;
  --h5-color: white;
  --h6-color: white;
  --primary-text-color: black;
  --holding-page-title-color: #2c51d7;
  --accent-color: #f24333;
  --overlay-color: #f24333;
  --overlay-title-color: white;
  --overlay-description-color: white;
  --hyperlink-color: #f24333;
  --logo-hover-color: #f24333;
  --hyperlink-alternate-color: orangered;
  --hover-color: #f24333;
  --visited-color: #698aff;
  --project-title-color: #2c51d7;
  --project-sidebar-background-color: #f0f0c9;
  --project-sidebar-text-color: #f0f0c9;
  --heart-color: #d31919;
  --holding-page-footer-color: #f0f0c9;
  --text-selection-background-color: #ff0033;
  --linear-gradient-color-1: #ff057c;
  --linear-gradient-color-2: #8d0b93;
  --linear-gradient-color-3: #321575;
  --stroke-shadow-color: rgba(0, 0, 0, 0.4);
}

/*colour hex log
#0d47a1 
hero
 #fef5e7
 #283593
 #330099
  #000099 
  #3366FF 

  #D31919
#3366FF
*/

body {
  font-family: var(--body-typeface);
  color: var(--primary-text-color);
  background: var(--background-color);
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

/* The ::selection CSS pseudo-element applies styles to the part of a document that has been highlighted by the user (such as clicking and dragging the mouse across text). */

::selection {
  background: var(--accent-color);
}

/* Make all images responsive */
img,
svg {
  max-width: 100%;
  height: auto;
  vertical-align: top;
  /* Removes the gap/space in inline elements for text descenders. */
  object-fit: contain;
  /* This is optional. Also try cover or leave out entirely. */
}

/* Global & Mobile Typography 

████████ ██    ██ ██████   ██████   ██████  ██████   █████  ██████  ██   ██ ██    ██ 
   ██     ██  ██  ██   ██ ██    ██ ██       ██   ██ ██   ██ ██   ██ ██   ██  ██  ██  
   ██      ████   ██████  ██    ██ ██   ███ ██████  ███████ ██████  ███████   ████   
   ██       ██    ██      ██    ██ ██    ██ ██   ██ ██   ██ ██      ██   ██    ██    
   ██       ██    ██       ██████   ██████  ██   ██ ██   ██ ██      ██   ██    ██    
                                                                                     
*/

h1 {
  font-size: 10rem;
  font-family: var(--heading-typeface);
  margin-bottom: 1rem;
  color: var(--h1-color);
  line-height: 10rem;
}

h2 {
  font-size: 3rem;
  font-family: var(--heading-typeface);
  font-weight: thin;
  margin-bottom: 1rem;
  color: var(--h2-color);
  text-align: center;
}

h3 {
  font-size: 1.325rem;
  font-family: var(--subtitle-typeface);
  font-weight: bold;
  margin-bottom: 1rem;
  line-height: 1.3;
  color: var(--h3-color);
}

h4 {
  font-size: 1.2rem;
  margin-bottom: 1rem;
  color: var(--h4-color);
}

h5 {
  font-size: 1.1rem;
  margin-bottom: 1rem;
  color: var(--h5-color);
}

h6 {
  font-size: 1rem;
  margin-bottom: 1rem;
  color: var(--h6-color);
}

h7 {
  font-size: 9rem;
  font-family: var(--heading-typeface);
  float: right;
  margin-bottom: 1rem;
  color: var(--h1-color);
  line-height: 10rem;
}

p {
  font-size: 1rem;
  font-family: var(--body-typeface);
  line-height: 1.3;
  margin-bottom: 1rem;
}

em {
  font-style: italic;
}

.fineprint {
  font-size: 0.875rem;
}

.hero-headline {
  color: var(--overlay-color);
}

.overlay-title {
  font-size: 2.875rem;
  color: var(--overlay-title-color);
  text-transform: uppercase;
}

.overlay-description {
  color: var(--overlay-description-color);
}

.work-title {
  font-size: 7rem;
  margin-bottom: 5rem;
  font-weight: 200;
  color: var(--h2-color);
}

/*
h1:hover {
  color: #708090;
}

h2:hover {
  color: #708090;
}

h3:hover {
  color: #708090;
}
*/
/*
  opacity: 0.2;
    transition: 0.3s;
    -webkit-transition: 170ms ease-in-out;
    -moz-transition: 170ms ease-in-out;
    -ms-transition: 170ms ease-in-out;
    -o-transition: 170ms ease-in-out;
    transition: 170ms ease-in-out;
    transition-duration: 170ms;
    transition-timing-function: ease-in-out;
    transition-delay: 0s;
    */

/* Hyperlink Styles */

a:link {
  color: var(--hyperlink-color);
  text-decoration: none;
}

a:visited {
  color: var(--visited-color);
}

a:hover {
  color: var(--hover-color);
  text-decoration: underline;
  transition: linear;
}

a:focus {
  outline: 1px solid var(--accent-color);
}

a:active {
  color: var(--hover-color);
  /* Tap on mobile */
}

.navigation-arrow {
  color: var(--alt-background-color);
}

.navigation-arrow:link {
  -webkit-text-stroke-width: 2px;
  -webkit-text-stroke-color: var(--accent-color);
  color: transparent;
}

.navigation-arrow:active,
.navigation-arrow:hover {
  color: var(--accent-color);
  -webkit-text-stroke-width: 2px;
  -webkit-text-stroke-color: var(--accent-color);
}

.colored-link {
  color: var(--hyperlink-alternate-color);
}

.custom-navigation:hover {
  background: url(assets/temp/heading-background.svg);
  background-size: 15%;
  background-repeat: no-repeat;
  background-position: center center;
}

.custom-navigation {
  padding-top: 1.5rem;
  padding-bottom: 1.5rem;
  padding-left: 2rem;
  padding-right: 2rem;
  background-color: var(--background-color-about);
  border-radius: 5rem;
}

.heart {
  color: var(--heart-color);
}

.footer-nav-item {
  line-height: 1.3;
}

.award-item {
  line-height: 1.3;
}

.social-item {
  line-height: 1.3;
}

.list-item {
  line-height: 1.3;
  list-style-type: disc;
  margin-left: 1.2rem;
}

.project-title {
  font-size: 6rem;
  line-height: 1.2;
  font-family: var(--project-title-typeface);
  color: var(--project-title-color);
  margin-bottom: 1rem;
  text-align: center;
  text-transform: uppercase;
  font-weight: 200;
}

.project-summary {
  font-size: 2.2rem;
  line-height: 1.2;
  margin-bottom: 4rem;
  text-align: center;
  font-weight: 400;
  color: var(--visited-color);
  text-transform: uppercase;
}
.project-description {
  font-size: 1.21rem;
  line-height: 1.4;
  text-align: center;
  width: 60%;
  margin: 0 auto;
  color: var(--primary-text-color);
  font-weight: 200;
}

/* Hero 

██   ██ ███████ ██████   ██████  
██   ██ ██      ██   ██ ██    ██ 
███████ █████   ██████  ██    ██ 
██   ██ ██      ██   ██ ██    ██ 
██   ██ ███████ ██   ██  ██████  
                                 
*/

/*
.background-hero-animation {
background: url(../assets/hero-page-animation/sophia-spanos-mcgill-sunset-animation-digital-illustration-bike.svg);
background-repeat: no-repeat;
background-size: cover;
}
*/

.background-hero-image {
  background: url(../assets/branding-images/SELFPORTRAIT.png);
  background-repeat: no-repeat;
  background-size: cover;
}

.index-splashart {
  background: url(../assets/branding-images/SELFPORTRAIT.png);
  background-repeat: no-repeat;
  background-size: cover;
}

.hero {
  min-height: 120vh;
  display: flex;
  flex-direction: column;
}

.sub-navigation {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  padding: 1rem;
  text-align: center;
}

.branding-navigation {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  /*background-color: #f0f0c9;*/
  margin: 2.5rem;
  border-width: 2rem;
}

.logo {
  width: 1rem;
  /* TODO: Adjust the width of the logo on mobile devices here. */
}

.hero-headline-wrapper {
  display: flex;
  flex-direction: column;
  flex: 1;
  align-items: center;
  justify-content: center;
  padding: 2rem 4rem;
  text-align: center;
  height: 150vh;
}

.hero-icon {
  font-size: 4rem;
}

.hero-footer {
  display: flex;
  justify-content: center;
  flex-direction: column;
  text-align: center;
}

.hero-footer-navigation {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding: 1rem;
  margin: 2rem;
}

.hero-background {
  background-size: 400% 400%;
  height: 100vh;
}

.image-work-page {
  filter: grayscale(100%);
  border-radius: 3rem;
  animation: enter-animation 0.8s 1;
}

@keyframes enter-animation {
  0% {
    transform: translateY(100px);
    opacity: 0;
  }
  100% {
    transform: translateY(0);
    opacity: 1;
  }
}
@media (prefers-reduced-motion: no-preference) {
  .image-animation {
    animation: enter-animation 0.8s 1;
  }
}

/* Work Page Layout

██     ██  ██████  ██████  ██   ██     ██████   █████   ██████  ███████ 
██     ██ ██    ██ ██   ██ ██  ██      ██   ██ ██   ██ ██       ██      
██  █  ██ ██    ██ ██████  █████       ██████  ███████ ██   ███ █████   
██ ███ ██ ██    ██ ██   ██ ██  ██      ██      ██   ██ ██    ██ ██      
 ███ ███   ██████  ██   ██ ██   ██     ██      ██   ██  ██████  ███████ 

*/

.work-wrapper {
  flex: 1;
}

/* Padding around work grid and project page */
.portfolio,
.project-wrapper {
  padding: 2rem;
  background-color: white;
  margin: 0, 2.5rem;
  border-radius: 5rem;
  align-items: center;
  justify-content: center;
}

/* Defining the work page grid */
.grid {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(900px, 1fr));
  grid-gap: 1rem;
  object-fit: contain;
  padding-bottom: 7rem;
  padding-top: 3rem;
  align-items: center;
  justify-content: center;
  /* Magical, media-query-less responsiveness is achieved using the repeat() function and the auto placement keywords. To achieve wrapping, we can use the auto-fit. If you're using auto-fit, the content will stretch to fill the entire row width.  Specify a minimum width for the columns, using the minmax() function. The 1fr is what tells the browser to distribute the space between the columns so that each column equally gets one fraction of that space.  */
}

.work-page-grid-item {
  width: 100%;
  height: auto;
  position: relative;
  border-radius: 20rem;
  /* Required to contain overlay size */
}

.work-page-central {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-content: center;
  margin-top: 5rem;
  margin-left: 15rem;
  margin-bottom: 5rem;
  margin-right: 15rem;
  text-align: center;
}

/* Overlay */
.overlay {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 100%;
  opacity: 0;
  transition: 1s ease-in-out;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  padding: 1em;
  background-color: var(--overlay-color);
  transition: opacity 0.3s, visibility 0.3s;
}

.work-page-grid-item:hover .overlay {
  visibility: visible;
  opacity: 1;
}
.photo > img {
  object-fit: cover;
  width: 100%;
  max-height: 100%;
}
/* 

 █████  ██████   ██████  ██    ██ ████████ 
██   ██ ██   ██ ██    ██ ██    ██    ██    
███████ ██████  ██    ██ ██    ██    ██    
██   ██ ██   ██ ██    ██ ██    ██    ██    
██   ██ ██████   ██████   ██████     ██    
                                           
*/

.about {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  grid-gap: 3rem;
  flex: 1;
  padding: 4rem;
  align-items: center;
  grid-template-columns: 1fr 1fr 1fr;
  border-radius: 15rem;
  margin: 2.5rem;
}

.about-item-1 {
  grid-column: 1 / 2;
  grid-row: 1 / 2;
  background: var(--background-color-about);
  border-radius: 2rem;
  padding: 2rem;
}

.about-item-2 {
  grid-column: 1 / 2;
  grid-row: 2 / 3;
  background: var(--background-color-about);
  border-radius: 2rem;
  padding: 2rem;
}

.about-item-3 {
  grid-column: 1 / 2;
  grid-row: 3 / 4;
  background: var(--background-color-about);
  border-radius: 2rem;
  padding: 2rem;
}

.about-item-4 {
  grid-row: 2 / 3;
  grid-column: 1 / 4;
  padding: 2rem;
  text-align: center;
  align-self: end;
  background-color: #f0f0c9;
  border-radius: 5rem;
}

.about-image {
  background-size: contain;
  border-radius: 100%;
}

/* Global Footer

███████  ██████   ██████  ████████ ███████ ██████  
██      ██    ██ ██    ██    ██    ██      ██   ██ 
█████   ██    ██ ██    ██    ██    █████   ██████  
██      ██    ██ ██    ██    ██    ██      ██   ██ 
██       ██████   ██████     ██    ███████ ██   ██ 
                                                   
*/

.global-footer {
  padding: 4rem 4rem 0 4rem;
  grid-template-columns: 1fr 1fr 1fr;
  display: grid;
  grid-gap: 3rem;
  min-height: 50vh;
  max-height: 50vh;
  background: var(--background-color-footer);
  background-color: white;
  margin: 2.5rem;
  border-radius: 15rem;
}

.footer-item-1 {
  grid-column: 1 / 2;
  grid-row: 1 / 2;
  text-align: center;
}

.footer-item-2 {
  grid-column: 1 / 2;
  grid-row: 2 / 3;
  text-align: center;
  padding: 1rem;
}

.footer-item-3 {
  grid-column: 1 / 2;
  grid-row: 3 / 4;
  text-align: center;
}

.footer-item-4 {
  grid-column: 1 / 2;
  grid-row: 4 / 5;
  margin-top: 2rem;
}

.footer-item-5 {
  grid-column: 1/2;
  grid-row: 1/2;
}

/*.awards-list {
  margin-bottom: 2rem;
}*/

.project-footer {
  display: grid;
  grid-template-columns: 1fr;
  grid-gap: 3rem;
  min-height: 100vh;
  background: var(--background-color-footer);
  padding: 1rem;
}
/* Project Page 

██████  ██████   ██████       ██ ███████  ██████ ████████     ██████   █████   ██████  ███████ 
██   ██ ██   ██ ██    ██      ██ ██      ██         ██        ██   ██ ██   ██ ██       ██      
██████  ██████  ██    ██      ██ █████   ██         ██        ██████  ███████ ██   ███ █████   
██      ██   ██ ██    ██ ██   ██ ██      ██         ██        ██      ██   ██ ██    ██ ██      
██      ██   ██  ██████   █████  ███████  ██████    ██        ██      ██   ██  ██████  ███████ 
                                                                                               
*/

.project-wrapper {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  margin: 0, 2.5rem;
  padding: 2rem;
}

/* Sidebar */
.project-aside {
  width: 100%;
  padding: 3rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  color: var(--project-sidebar-text-color);
}

.project-info {
  text-align: center;
  margin: 0 auto;
  width: 100%;
  margin-bottom: 2rem;
}

.project-navigation {
  display: flex;
  flex-direction: row;
  flex: 1;
  align-items: center;
  justify-content: space-between;
}

.arrow {
  padding: 0;
}

.project-image-container {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

.project-image {
  max-width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.text-section {
  width: 100%;
}

.project-text {
  width: 100%;
  font-size: 3.25rem;
  padding: 3rem;
}

/* Main Project Image Area */

.project-details {
  width: 100%;
  padding: 1rem;
}

/* 

██   ██  ██████  ██      ██████  ██ ███    ██  ██████  
██   ██ ██    ██ ██      ██   ██ ██ ████   ██ ██       
███████ ██    ██ ██      ██   ██ ██ ██ ██  ██ ██   ███ 
██   ██ ██    ██ ██      ██   ██ ██ ██  ██ ██ ██    ██ 
██   ██  ██████  ███████ ██████  ██ ██   ████  ██████  
                                                       
*/

.holding-page {
  background: url(../assets/branding-images/INDEXSHPLASHART.jpg);
  background-repeat: no-repeat;
  background-size: cover;
}

.holding-page-wrapper {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 1fr auto;
  place-items: center;
  text-align: center;
  align-items: center;
  width: 100%;
  min-height: 100vh;
  /* TODO: Delete the following if you do not want a grainy gradient background on index.html. Be careful not to delete the closing } */
  background-repeat: no-repeat;
  background-size: cover;
}

.holding-page-animation {
  margin-bottom: 1rem;
}

.holding-page-title {
  font-size: 2rem;
  font-weight: 200;
  color: var(--holding-page-title-color);
  background-color: var(--background-color-about);
  border-radius: 5rem;
  padding: 0 2rem 0 2rem;
}

.holding-page-inner-container {
  align-items: center;
}

.holding-page-footer {
  display: grid;
  place-items: center;
  min-height: 10vh;
  width: 100%;
}

.holding-page-copyright {
  font-size: 0.8rem;
  color: #d31919;
  margin-bottom: 0;
}

/*
███████ ██████  ██████   ██████  ██████  
██      ██   ██ ██   ██ ██    ██ ██   ██ 
█████   ██████  ██████  ██    ██ ██████  
██      ██   ██ ██   ██ ██    ██ ██   ██ 
███████ ██   ██ ██   ██  ██████  ██   ██ 
*/

/* TODO: Customize your 404 Error Page */

/* The best 404 pages have become an art in themselves. Your 404 error page is an opportunity to make a memorable impression on your visitors when they don’t land exactly where they hoped. */

/*

██████  ██       █████  ██    ██ 
██   ██ ██      ██   ██  ██  ██  
██████  ██      ███████   ████   
██      ██      ██   ██    ██    
██      ███████ ██   ██    ██    
*/

.play-page {
  display: grid;
  place-items: center;
}

.play-page-inner-container {
  text-align: center;
}

.play-page-title {
  color: var(--accent-color);
}

/*

███    ███ ███████ ██████  ██  █████       ██████  ██    ██ ███████ ██████  ██ ███████ ███████ 
████  ████ ██      ██   ██ ██ ██   ██     ██    ██ ██    ██ ██      ██   ██ ██ ██      ██      
██ ████ ██ █████   ██   ██ ██ ███████     ██    ██ ██    ██ █████   ██████  ██ █████   ███████ 
██  ██  ██ ██      ██   ██ ██ ██   ██     ██ ▄▄ ██ ██    ██ ██      ██   ██ ██ ██           ██ 
██      ██ ███████ ██████  ██ ██   ██      ██████   ██████  ███████ ██   ██ ██ ███████ ███████ 

*/

/* Medium devices (tablets, 768px and up) */

/*typography*/
@media only screen and (max-width: 768px) {
  h1 {
    font-size: 4rem;
    line-height: 4rem;
    font-weight: 100;
    line-height: 4.5rem;
  }

  h2 {
    font-size: 2rem;
    font-weight: 300;
  }

  h3 {
    font-size: 1rem;
  }

  h4 {
    font-size: 1rem;
    margin-bottom: 1rem;
    color: var(--h4-color);
  }

  h5 {
    font-size: 0.95rem;
    margin-bottom: 1rem;
    color: var(--h5-color);
  }

  h6 {
    font-size: 0.75rem;
    margin-bottom: 1rem;
    color: var(--h6-color);
  }

  h7 {
    font-size: 9rem;
    font-family: var(--heading-typeface);
    float: right;
    margin-bottom: 1rem;
    color: var(--h1-color);
    line-height: 10rem;
  }

  p {
    font-size: 0.65rem;
    font-family: var(--body-typeface);
    line-height: 1.3;
    margin-bottom: 1rem;
  }

  em {
    font-style: italic;
  }

  .fineprint {
    font-size: 0.5rem;
  }

  .hero-headline {
    color: var(--overlay-color);
  }

  .overlay-title {
    font-size: 2.875rem;
    color: var(--overlay-title-color);
    text-transform: uppercase;
  }

  .overlay-description {
    color: var(--overlay-description-color);
  }

  .work-title {
    font-size: 3rem;
    margin-bottom: 5rem;
    font-weight: 200;
    color: var(--h2-color);
  }
  /*a*/

  .logo {
    width: 3rem;
  }

  .hero-headline-wrapper {
    display: flex;
    flex-direction: column;
    flex: 1;
    align-items: center;
    justify-content: center;
    padding: 1rem 2rem;
    text-align: center;
    height: 100vh;
  }
  .footer-item-4 {
    grid-row: 2 / 3;
    grid-column: 1 / 4;
    text-align: center;
  }
}

.portfolio,
.project-wrapper {
  width: 100%;
  padding: 2rem;
  background-color: white;
  margin: 0, 2.5rem;
  border-radius: 2rem;
  align-items: center;
  justify-content: center;
}

.grid {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(768px, 1fr));
  max-width: 768;
  grid-gap: 1rem;
  object-fit: contain;
  padding-bottom: 7rem;
  padding-top: 3rem;
  align-items: center;
  justify-content: center;
}

.hero {
  min-height: 70vh;
}

.hero-headline-wrapper {
  display: flex;
  flex-direction: column;
  flex: 1;
  align-items: center;
  justify-content: center;
  padding: 2rem 4rem;
  text-align: center;
  height: 25vh;
}

/* Grayscale filter with full-colour on hover and tap */
.work-page-grid-item a.grayscale img {
  filter: grayscale(100);
}

.work-page-grid-item > a.grayscale:active img,
.work-page-grid-item > a.grayscale:hover img {
  filter: grayscale(0);
}

/*about and footer*/

.about {
  display: grid;
  grid-gap: 3rem;
  flex: 1;
  align-items: stretch;
  padding: 4rem;
  grid-template-columns: 1fr 1fr;
  border-radius: 15rem;
  margin: 2.5rem;
}

.global-footer {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 2rem;
  /*
  padding: 1rem 1rem 0 1rem;
  grid-template-columns: 1fr;
  display: grid;
  grid-gap: 3rem;
  min-height: 50vh;
  max-height: 50vh;
  background: var(--background-color-footer);
  margin: 2.5rem;
  border-radius: 10rem;
  */
}

.about-item-1 {
  grid-column: 1 / 2;
  grid-row: 1 / 3;
  background: var(--background-color-about);
  border-radius: 2rem;
}

.footer-item-1 {
  grid-column: 1 / 1;
  grid-row: 1 / 3;
  padding: 3rem;
  align-content: center;
  background-color: var(--background-color-about);
  border-radius: 10rem;
}

.about-item-2 {
  grid-row: 1 / 2;
  grid-column: 2 / 3;
  background: var(--background-color-about);
  border-radius: 2rem;
  padding: 6rem;
}

.footer-item-2 {
  grid-row: 2 / 3;
  grid-column: 1 / 1;
  padding: 3rem;
  align-content: center;
  background: var(--background-color-about);
  border-radius: 10rem;
}

.footer-item-3 {
  grid-row: 1 / 2;
  grid-column: 3 / 4;
  padding: 3rem;
  align-content: center;
  background: var(--background-color-about);
  border-radius: 10rem;
}

.about-item-4 {
  grid-row: 2 / 3;
  grid-column: 1 / 4;
  padding: 2rem;
  text-align: center;
  align-self: end;
  background-color: var(--background-color-about);
  border-radius: 5rem;
}

.footer-item-4 {
  grid-row: 2 / 3;
  grid-column: 1 / 4;
  padding-top: 1rem;
  align-content: center;
  align-self: end;
  background-color: var(--background-color-about);
  border-radius: 8rem;
}

.footer-click {
  margin-bottom: 3rem;
}

/* Project Page Flex Direction on Large Devices */
.project-wrapper {
  flex-direction: column;
  padding: 0.5rem;
  padding-bottom: 3rem;
}

/* Sidebar on Large Devices */
.project-aside {
  width: 100%;
  /* height: 65vh; */
  /* position: -webkit-sticky;
    position: sticky;
    top: 5vh; */
  padding-right: 2rem;
}

/* Main Project Image Area on Large Devices */
.project-details {
  width: 100%;
}

.project-image {
  min-height: 70vh;
  /* TODO: Delete min-height if you want to remove space between project images on project pages on large devices. It is used for the demo page only. */
}

.project-image-container {
  flex-direction: row;
}

.project-navigation {
  justify-content: flex-start;
}

.project-aside {
  width: 100%;
  /* height: 65vh; */
  /* position: -webkit-sticky;
  position: sticky;
  top: 5vh; */
  padding: 1rem;
}

.project-title {
  font-size: 3.5rem;
  line-height: 1.2;
  font-family: var(--project-title-typeface);
  color: var(--project-title-color);
  margin-bottom: 1rem;
  text-align: center;
  text-transform: uppercase;
  font-weight: 200;
}

.project-summary {
  font-size: 2.2rem;
  line-height: 1.2;
  margin-bottom: 4rem;
  text-align: center;
  font-weight: 400;
  color: var(--visited-color);
  text-transform: uppercase;
}
.project-description {
  font-size: 0.8rem;
  line-height: 1.4;
  text-align: center;
  width: 80%;
  margin: 0 auto;
  color: var(--primary-text-color);
  font-weight: 200;
}

.arrow {
  padding-right: 1rem;
}

/*sections*/

/*images*/

@media (min-width: 768) {
  h1 {
    font-size: 7rem;
    font-family: var(--heading-typeface);
    margin-bottom: 1rem;
    color: var(--h1-color);
    line-height: 10rem;
    font-weight: 100;
  }

  h2 {
    font-size: 2rem;
    font-family: var(--heading-typeface);
    font-weight: thin;
    margin-bottom: 1rem;
    color: var(--h2-color);
    text-align: center;
  }

  h3 {
    font-size: 1.1rem;
    font-family: var(--subtitle-typeface);
    font-weight: bold;
    margin-bottom: 1rem;
    line-height: 1.3;
    color: var(--h3-color);
  }

  h4 {
    font-size: 1.2rem;
    margin-bottom: 1rem;
    color: var(--h4-color);
  }

  h5 {
    font-size: 1.1rem;
    margin-bottom: 1rem;
    color: var(--h5-color);
  }

  h6 {
    font-size: 1rem;
    margin-bottom: 1rem;
    color: var(--h6-color);
  }

  h7 {
    font-size: 9rem;
    font-family: var(--heading-typeface);
    float: right;
    margin-bottom: 1rem;
    color: var(--h1-color);
    line-height: 10rem;
  }

  p {
    font-size: 1rem;
    font-family: var(--body-typeface);
    line-height: 1.3;
    margin-bottom: 1rem;
  }

  em {
    font-style: italic;
  }

  .fineprint {
    font-size: 0.875rem;
  }

  .hero-headline {
    color: var(--overlay-color);
  }

  .overlay-title {
    font-size: 2.875rem;
    color: var(--overlay-title-color);
    text-transform: uppercase;
  }

  .overlay-description {
    color: var(--overlay-description-color);
  }

  .work-title {
    font-size: 7rem;
    margin-bottom: 5rem;
    font-weight: 200;
    color: var(--h2-color);
  }

  .grid {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(768px, 1fr));
    /*min-width: 768px;*/
    grid-gap: 1rem;
    object-fit: contain;
    padding-bottom: 7rem;
    padding-top: 3rem;
    align-items: center;
    justify-content: center;
  }

  .hero-headline-wrapper {
    display: flex;
    flex-direction: column;
    flex: 1;
    align-items: center;
    justify-content: center;
    padding: 1rem 2rem;
    text-align: center;
    height: 100vh;
  }
  .footer-item-4 {
    grid-row: 2 / 3;
    grid-column: 1 / 4;
  }
}

/* Large devices (desktops, 992px and up) */

@media (min-width: 992px) {
}

h4 {
  font-size: 1.2rem;
  margin-bottom: 1rem;
  color: var(--h4-color);
}

h5 {
  font-size: 1.1rem;
  margin-bottom: 1rem;
  color: var(--h5-color);
}

h6 {
  font-size: 1rem;
  margin-bottom: 1rem;
  color: var(--h6-color);
}

h7 {
  font-size: 9rem;
  font-family: var(--heading-typeface);
  float: right;
  margin-bottom: 1rem;
  color: var(--h1-color);
  line-height: 10rem;
}

p {
  font-size: 1rem;
  font-family: var(--body-typeface);
  line-height: 1.3;
  margin-bottom: 1rem;
}

em {
  font-style: italic;
}

.fineprint {
  font-size: 0.875rem;
}

.hero-headline {
  color: var(--overlay-color);
}

.overlay-title {
  font-size: 2.875rem;
  color: var(--overlay-title-color);
  text-transform: uppercase;
}

.overlay-description {
  color: var(--overlay-description-color);
}

.work-title {
  font-size: 7rem;
  margin-bottom: 5rem;
  font-weight: 200;
  color: var(--h2-color);
}

a:link {
  color: var(--hyperlink-color);
  text-decoration: none;
}

a:visited {
  color: var(--visited-color);
}

a:hover {
  color: var(--hover-color);
  text-decoration: underline;
  transition: linear;
}

a:focus {
  outline: 1px solid var(--accent-color);
}

a:active {
  color: var(--hover-color);
  /* Tap on mobile */
}

.navigation-arrow {
  color: var(--alt-background-color);
}

.navigation-arrow:link {
  -webkit-text-stroke-width: 2px;
  -webkit-text-stroke-color: var(--accent-color);
  color: transparent;
}

.navigation-arrow:active,
.navigation-arrow:hover {
  color: var(--accent-color);
  -webkit-text-stroke-width: 2px;
  -webkit-text-stroke-color: var(--accent-color);
}

.colored-link {
  color: var(--hyperlink-alternate-color);
}

.custom-navigation:hover {
  background: url(assets/temp/heading-background.svg);
  background-size: 15%;
  background-repeat: no-repeat;
  background-position: center center;
}

.custom-navigation {
  padding-top: 1.5rem;
  padding-bottom: 1.5rem;
  padding-left: 2rem;
  padding-right: 2rem;
  background-color: var(--background-color-about);
  border-radius: 5rem;
}

.footer-nav-item {
  line-height: 1.3;
}

.award-item {
  line-height: 1.3;
}

.social-item {
  line-height: 1.3;
}

.list-item {
  line-height: 1.3;
  list-style-type: disc;
  margin-left: 1.2rem;
}

.project-title {
  font-size: 6rem;
  line-height: 1.2;
  font-family: var(--project-title-typeface);
  color: var(--project-title-color);
  margin-bottom: 1rem;
  text-align: center;
  text-transform: uppercase;
  font-weight: 200;
}

.project-summary {
  font-size: 2.2rem;
  line-height: 1.2;
  margin-bottom: 4rem;
  text-align: center;
  font-weight: 400;
  color: var(--visited-color);
  text-transform: uppercase;
}
.project-description {
  font-size: 1.21rem;
  line-height: 1.4;
  text-align: center;
  width: 60%;
  margin: 0 auto;
  color: var(--primary-text-color);
  font-weight: 200;
}

.background-hero-image {
  background: url(../assets/branding-images/SELFPORTRAIT.png);
  background-repeat: no-repeat;
  background-size: cover;
}

.index-splashart {
  background: url(../assets/branding-images/SELFPORTRAIT.png);
  background-repeat: no-repeat;
  background-size: cover;
}

.hero {
  min-height: 120vh;
  display: flex;
  flex-direction: column;
}

.sub-navigation {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  padding: 1rem;
  text-align: center;
}

.branding-navigation {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  /*background-color: #f0f0c9;*/
  margin: 2.5rem;
  border-width: 2rem;
}

.logo {
  width: 1rem;
  /* TODO: Adjust the width of the logo on mobile devices here. */
}

.hero-headline-wrapper {
  display: flex;
  flex-direction: column;
  flex: 1;
  align-items: center;
  justify-content: center;
  padding: 2rem 4rem;
  text-align: center;
  height: 150vh;
}

.hero-icon {
  font-size: 4rem;
}

.hero-footer {
  display: flex;
  justify-content: center;
  flex-direction: column;
  text-align: center;
}

.hero-footer-navigation {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding: 1rem;
  margin: 2rem;
}

.hero-background {
  background-size: 400% 400%;
  height: 100vh;
}

.image-work-page {
  filter: grayscale(100%);
  border-radius: 3rem;
  animation: enter-animation 0.8s 1;
}

@keyframes enter-animation {
  0% {
    transform: translateY(100px);
    opacity: 0;
  }
  100% {
    transform: translateY(0);
    opacity: 1;
  }
}
@media (prefers-reduced-motion: no-preference) {
  .image-animation {
    animation: enter-animation 0.8s 1;
  }
}

.work-wrapper {
  flex: 1;
}

/* Padding around work grid and project page */
.portfolio,
.project-wrapper {
  padding: 2rem;
  background-color: white;
  margin: 0, 2.5rem;
  border-radius: 5rem;
  align-items: center;
  justify-content: center;
  width: 100%;
}

/* Defining the work page grid */

.work-page-grid-item {
  width: 100%;
  height: auto;
  position: relative;
  border-radius: 20rem;
  /* Required to contain overlay size */
}

.work-page-central {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-content: center;
  margin-top: 5rem;
  margin-left: 15rem;
  margin-bottom: 5rem;
  margin-right: 15rem;
  text-align: center;
}

/* Overlay */
.overlay {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 100%;
  opacity: 0;
  transition: 1s ease-in-out;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  padding: 1em;
  background-color: var(--overlay-color);
  transition: opacity 0.3s, visibility 0.3s;
}

.work-page-grid-item:hover .overlay {
  visibility: visible;
  opacity: 1;
}
.photo > img {
  object-fit: cover;
  width: 100%;
  max-height: 100%;
}
/* 

 █████  ██████   ██████  ██    ██ ████████ 
██   ██ ██   ██ ██    ██ ██    ██    ██    
███████ ██████  ██    ██ ██    ██    ██    
██   ██ ██   ██ ██    ██ ██    ██    ██    
██   ██ ██████   ██████   ██████     ██    
                                           
*/

.about {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  grid-gap: 3rem;
  flex: 1;
  padding: 4rem;
  align-items: center;
  grid-template-columns: 1fr 1fr 1fr;
  border-radius: 15rem;
  margin: 2.5rem;
}

.about-item-1 {
  grid-column: 1 / 2;
  grid-row: 1 / 2;
  background: var(--background-color-about);
  border-radius: 2rem;
  padding: 2rem;
}

.about-item-2 {
  grid-column: 1 / 2;
  grid-row: 2 / 3;
  background: var(--background-color-about);
  border-radius: 2rem;
  padding: 2rem;
}

.about-item-3 {
  grid-column: 1 / 2;
  grid-row: 3 / 4;
  background: var(--background-color-about);
  border-radius: 2rem;
  padding: 2rem;
}

.about-item-4 {
  grid-row: 2 / 3;
  grid-column: 1 / 4;
  padding: 2rem;
  text-align: center;
  align-self: end;
  background-color: #f0f0c9;
  border-radius: 5rem;
}

.about-image {
  background-size: contain;
  border-radius: 100%;
}

.project-wrapper {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  margin: 0, 2.5rem;
  padding: 2rem;
}

/* Sidebar */
.project-aside {
  width: 100%;
  padding: 3rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  color: var(--project-sidebar-text-color);
}

.project-info {
  text-align: center;
  margin: 0 auto;
  width: 100%;
  margin-bottom: 2rem;
}

.project-navigation {
  display: flex;
  flex-direction: row;
  flex: 1;
  align-items: center;
  justify-content: space-between;
}

.arrow {
  padding: 0;
}

.project-image-container {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

.project-image {
  max-width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.text-section {
  width: 100%;
}

.project-text {
  width: 100%;
  font-size: 3.25rem;
  padding: 3rem;
}

/* Main Project Image Area */

.project-details {
  width: 100%;
  padding: 1rem;
}

/* TODO: Add or adjust styles here for large devices. */

.holding-page-title {
  font-size: 2rem;
}

h1 {
  font-size: 7rem;
  line-height: 9rem;
  font-weight: 100;
}

h2 {
  font-size: 3rem;
  font-weight: 300;
}

h3 {
  font-size: 1.625rem;
}

p {
  font-size: 1rem;
}

.logo {
  width: 6rem;
  transition: 200ms;
  transition-timing-function: ease-in-out;
}

.logo:hover {
  color: var(--logo-hover-color);
}

.hero {
  min-height: 100vh;
}

.hero-headline-wrapper {
  display: flex;
  flex-direction: column;
  flex: 1;
  align-items: center;
  justify-content: center;
  padding: 2rem 4rem;
  text-align: center;
  height: 100vh;
}

.grid {
  grid-template-columns: repeat(auto-fit, minmax(992px, 1fr));
  grid-gap: 1rem;
}

/* Grayscale filter with full-colour on hover and tap */
.work-page-grid-item a.grayscale img {
  filter: grayscale(100);
}

.work-page-grid-item > a.grayscale:active img,
.work-page-grid-item > a.grayscale:hover img {
  filter: grayscale(0);
}

.about {
  display: grid;
  grid-gap: 3rem;
  flex: 1;
  align-items: stretch;
  padding: 4rem;
  grid-template-columns: 1fr 1fr;
  border-radius: 15rem;
  margin: 2.5rem;
}

.global-footer {
  padding: 4rem 4rem 0 4rem;
  grid-template-columns: 1fr 1fr 1fr;
  display: grid;
  grid-gap: 3rem;
  min-height: 50vh;
  max-height: 50vh;
  background: var(--background-color-footer);
  margin: 2.5rem;
  border-radius: 15rem;
}

.about-item-1 {
  grid-column: 1 / 2;
  grid-row: 1 / 2;
  background: var(--background-color-about);
  border-radius: 2rem;
}

.footer-item-1 {
  grid-column: 1 / 2;
  grid-row: 1 / 2;
  padding: 3rem;
  align-content: center;
  background-color: var(--background-color-about);
  border-radius: 10rem;
}

.about-item-2 {
  grid-row: 1 / 2;
  grid-column: 2 / 3;
  background: var(--background-color-about);
  border-radius: 2rem;
  padding: 6rem;
}

.footer-item-2 {
  grid-row: 1 / 2;
  grid-column: 2 / 3;
  padding: 3rem;
  align-content: center;
  background: var(--background-color-about);
  border-radius: 10rem;
}

.footer-item-3 {
  grid-row: 1 / 2;
  grid-column: 3 / 4;
  padding: 3rem;
  align-content: center;
  background: var(--background-color-about);
  border-radius: 10rem;
}

.about-item-4 {
  grid-row: 2 / 3;
  grid-column: 1 / 4;
  padding: 2rem;
  text-align: center;
  align-self: end;
  background-color: var(--background-color-about);
  border-radius: 5rem;
}

.footer-item-4 {
  grid-row: 2 / 3;
  grid-column: 1 / 4;
  padding-top: 1rem;
  align-content: center;
  align-self: end;
  background-color: var(--background-color-about);
  border-radius: 8rem;
}

.footer-click {
  margin-bottom: 3rem;
}

.portfolio,
.project-wrapper {
  padding: 2rem;
  background-color: white;
  margin: 0, 2.5rem;
  border-radius: 10rem;
  align-items: center;
  justify-content: center;
}

/* Project Page Flex Direction on Large Devices */
.project-wrapper {
  flex-direction: column;
  padding: 2rem;
  padding-bottom: 10rem;
}

/* Sidebar on Large Devices */
.project-aside {
  width: 100%;
  /* height: 65vh; */
  /* position: -webkit-sticky;
    position: sticky;
    top: 5vh; */
  padding-right: 2rem;
}

/* Main Project Image Area on Large Devices */
.project-details {
  width: 100%;
}

.project-image {
  min-height: 10vh;
  /* TODO: Delete min-height if you want to remove space between project images on project pages on large devices. It is used for the demo page only. */
}

.project-image-container {
  flex-direction: row;
}

.project-navigation {
  justify-content: flex-start;
}

.arrow {
  padding-right: 1rem;
}

/* X-Large devices (large desktops, 1200px and up)*/
